!!! XML
!!!
%html
  %head
    %title Open Science Award presented by DBCLS
    %meta{:charset => "utf-8", :content => "text/html", "http-equiv" => "content"}
    %link{:rel => :stylesheet, :href => "//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"}
    %link{:rel => :stylesheet, :href => "//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"}
    %link{:rel => :stylesheet, :href => "#{app_root}/style.css", :type => "text/css"}
    %script{ :src => "http://code.jquery.com/jquery-1.8.2.min.js" }
    %script{ :src => "//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js" }
    
  %body
    .container
      .page-header
        .row
          .col-md-6.col-md-offset-3
            .text-center
              %a{ :href => app_root }
                %img{ :src => "https://s3.amazonaws.com/inutano-images/openscienceaward.png", :width => "450", :height => "300", :align => "middle" }
          .col-md-4.col-md-offset-4
            %h2.text-right
              %small= "presented by DBCLS"
      
      %section.thanks
        .row
          .span.offset1
            %h2
              %i.icon-smile.icon-large
              ありがとうございました！
            %p
              投票結果は，9/15の投票締切後に発表する予定です。お楽しみに！
            %p
              %a.twitter-hashtag-button{ :href => "https://twitter.com/intent/tweet?button_hashtag=openscienceaward&text=%E3%82%AA%E3%83%BC%E3%83%97%E3%83%B3%E3%83%BB%E3%82%B5%E3%82%A4%E3%82%A8%E3%83%B3%E3%82%B9%E3%83%BB%E3%82%A2%E3%83%AF%E3%83%BC%E3%83%89%E3%81%A7%E6%8A%95%E7%A5%A8%E3%81%97%E3%81%BE%E3%81%97%E3%81%9F%EF%BC%81", "data-lang" => "ja", "data-size" => "large", "data-url" => "http://2014.openscienceaward.org/", "data-dnt" => true }
                Tweet #openscienceaward
              :javascript
                !function(d,s,id){var js,fjs = d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
            %hr
          
      
      %footer
        powered by
        %a{ :href => "http://dbcls.rois.ac.jp/" }
          DBCLS
        , project licensed under CC-BY 2.1 JP. /
        Font Awesome by Dave Gandy - 
        %a{ :href => "http://fortawesome.github.com/Font-Awesome" }
          http://fortawesome.github.com/Font-Awesome
